// help buttons
.proxmox-inline-button {
  background-color: $help-button-color;
  border-color: $help-button-color-alt;
  color: $help-button-text-color;

  &.x-btn-over,
  &.x-btn.x-btn-pressed.x-btn-default-toolbar-small,
  .x-keyboard-mode &.x-btn-default-toolbar-small.x-btn-focus {
    background-color: $help-button-color-alt;
    border-color: $help-button-color-alt;
  }

  .x-btn-inner,
  .x-btn-icon-el {
    color: $help-button-icon-color;
  }
}
