// Table headers under Node > "Updates" > "Repositories"
.proxmox-apt-repos .x-grid-group-hd {
  background-color: $background-darkest;
  border-color: $border-color-alt;
}

.proxmox-apt-repos .x-grid-group-title {
  color: $text-color;
}
