// ceph page
table.osds {
  tr {
    border-color: $border-color;
  }

  td {
    border-color: $border-color;
  }
}

.install-mask {
  background-color: $background-darker;
  color: $text-color;
}

.x-window.install-mask {
  box-shadow: black 0 -1px 15px 5px !important;
}

div.monitor {
  border-color: $border-color;
}
