Source: proxmox-widget-toolkit
Section: web
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 12~),
               libjs-marked,
               pve-eslint (>= 7.28.0),
               sassc,
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: proxmox-widget-toolkit
Architecture: all
Depends: ${misc:Depends}
Description: ExtJS Helper Classes for Proxmox 
 ExtJS Helper Classes to easy access to Proxmox APIs.

Package: proxmox-widget-toolkit-dev
Architecture: all
Depends: ${misc:Depends}
Description: Development dependencies for Proxmox Projects
 Contains some common javascript code that are dev-dependencies,
 for various Proxmox projects.
