Source: proxmox-widget-toolkit
Section: web
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 10~),
               pve-eslint,
               rsync,
Standards-Version: 3.9.8
Homepage: http://www.proxmox.com

Package: proxmox-widget-toolkit
Architecture: all
Depends: ${misc:Depends}
Description: ExtJS Helper Classes for Proxmox 
 ExtJS Helper Classes to easy access to Proxmox APIs.
