.pmx-clear-trigger {
    background-image: url(../images/pmx-clear-trigger.png);
}

.pmx-hint {
    background-color: LightYellow;
}

.x-mask-msg-text {
    text-align: center;
}

.proxmox-invalid-row {
    background-color: #f3d6d7;
}

.proxmox-warning-row {
    background-color: #f5e5d8;
}

/* some icons have to be color manually */
.black {
    color: #000;
}

.normal {
    color: #c2ddf2;
}

.faded {
    color: #cfcfcf;
}

.good {
    color: #21BF4B;
}

.warning {
    color: #fc0;
}

.critical {
    color: #FF6C59;
}

.pwt-eol-icon {
    position: relative;
    float: left;
    margin-right: 5px;
    font-size: 1.3em;
    color: #FF6C59;
}

/* reduce chart legend space usage to something more sane */
.x-legend-item {
	padding: 0.4em 0.8em 0.4em 1.8em;
}

.x-legend-item-marker {
	left: 0.5em;
	top: 0.6em;
}

/* for info widget */
div.left-aligned {
    float: left;
}

div.right-aligned {
    float: right;
}

.x-progress.critical .x-progress-bar{
    background-color: #FF8888;
}

.x-progress.warning .x-progress-bar{
    background-color: #FFCC00;
}

.x-treelist-item-icon {
    color: #000;
    font-size: 14px;
}

.x-btn-icon-el-default-toolbar-small {
    font-size: 14px;
}
.x-btn-icon-el-default-small {
    font-size: 14px;
}

.x-tab-icon-el-default {
    color: #000;
    font-size: 14px;
    margin-top: 2px;
}

.pmx-icon {
    height: 16px;
    background-position: bottom;
    vertical-align: bottom;
    padding: 0;
}

.pmx-itype-icon-memory,
.pmx-itype-icon-processor
{
    background-repeat: no-repeat;
    background-position:3px center;
    padding-left: 20px;
}

.pmx-itype-icon-memory
{
    background-image:url(../images/icon-ram.png);
}

.pmx-itype-icon-processor
{
    background-image:url(../images/icon-cpu.png);
}
