// The mask that is applied when the window is unaccessible (Login
// screen, Loading, ...)
.x-mask {
  background-color: black;
  opacity: 0.85;
}

// Shadows of floating windows like window modals, form selectors and
// message boxes
.x-css-shadow {
  // the additional styling from the pve css overwrites the setting on
  // the element with "!important", that's why we need it here.
  box-shadow: $background-darkest 0 0 5px !important;
}
